<div class="container my-5">
  <div class="row">
    <div class="col-md-10 offset-md-1 border border-muted p-4">
      <form [formGroup]="signUpForms" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <label for="userName">UserName</label>
          <input
            formControlName="userName"
            type="text"
            class="form-control"
            id="userName"
          />

          <strong
            class="text-danger"
            *ngIf="userName?.touched && userName?.hasError('required')"
            >Username is a required field.
          </strong>

          <ng-container *ngIf="f['userName'].dirty">
            <strong
              class="text-danger"
              *ngIf="f['userName'].hasError('minlength')"
              >Minimum length of username should
              {{f['userName'].errors?.['minlength'].requiredLength}} and actual
              length is {{f['userName'].errors?.['minlength'].actualLength}}.
            </strong>

            <strong
              class="text-danger"
              *ngIf="f['userName'].hasError('maxlength')"
              >Maximum length of username should
              {{f['userName'].errors?.['maxlength'].requiredLength}} and actual
              length is {{f['userName'].errors?.['maxlength'].actualLength}}.
            </strong>

            <strong
              *ngIf="f['userName'].hasError('pattern')"
              class="text-danger"
            >
              Invalid username pattern.
            </strong>

            <strong
              *ngIf="f['userName'].hasError('noSpaceBar')"
              class="text-danger"
            >
              {{f['userName'].errors?.['noSpaceBar']}}.
            </strong>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="email">Email Id</label>
          <input
            formControlName="email"
            placeholder="Eg. abc@gmail.com"
            type="text"
            class="form-control"
            id="email"
          />

          <strong
            class="text-danger"
            *ngIf="f['email'].touched && f['email'].hasError('required')"
          >
            Email Id is required field.
          </strong>

          <ng-container *ngIf="f['email'].dirty">
            <strong class="text-danger" *ngIf="f['email'].hasError('pattern')">
              Invalid email pattern.
            </strong>

            <strong
              *ngIf="f['email'].hasError('noSpaceBar')"
              class="text-danger"
            >
              {{f['email'].errors?.['noSpaceBar']}}.
            </strong>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="empId">Employee Id</label>
          <input
            type="text"
            placeholder="Eg. E123"
            formControlName="empId"
            class="form-control"
            id="empId"
          />

          <strong
            class="text-danger"
            *ngIf="f['empId'].touched && f['empId'].hasError('required')"
          >
            Employee Id is required field.
          </strong>
          <strong
            class="text-danger"
            *ngIf="f['empId'].dirty && f['empId'].hasError('inValidEmpId')"
          >
            {{f['empId'].errors?.['inValidEmpId']}}.
          </strong>
        </div>

        <div class="form-group">
          <label class="mr-3" [for]="gender" *ngFor="let gender of genderArr">
            <input
              type="radio"
              formControlName="gender"
              [id]="gender"
              [value]="gender"
            />
            <strong class="ml-2">{{ gender | titlecase }}</strong>
          </label>
        </div>

        <div class="row p-2 mb-3">
          <div class="col-12 pt-2">
            <div class="form-group">
              <label for="isAddressSame">
                <input
                  type="checkbox"
                  formControlName="isAddressSame"
                  id="isAddressSame"
                  class="isAddressSame"
                />
                Are both Addresses Same?
              </label>
            </div>
          </div>
          <div class="col-md-6" formGroupName="currentAddress">
            <h2><strong>Current Address</strong></h2>
            <div class="form-group">
              <label for="caCountry">Country</label>
              <select
                id="caCountry"
                formControlName="country"
                class="form-control"
              >
                <option
                  *ngFor="let country of countries"
                  [value]="country.Country"
                >
                  {{ country.Country }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="caState">State</label>
              <select id="caState" formControlName="state" class="form-control">
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="caCity">City</label>
              <input
                formControlName="city"
                type="text"
                class="form-control"
                id="caCity"
              />
            </div>
            <div class="form-group">
              <label for="caPincode">Pincode</label>
              <input
                formControlName="pincode"
                type="text"
                class="form-control"
                id="caPincode"
              />
            </div>
          </div>
          <div class="col-md-6" formGroupName="permanentAddress">
            <h2><strong>Permanent Address</strong></h2>
            <div class="form-group">
              <label for="paCountry">Country</label>
              <select
                id="paCountry"
                formControlName="country"
                class="form-control"
              >
                <option
                  *ngFor="let country of countries"
                  [value]="country.Country"
                >
                  {{ country.Country }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="paState">State</label>
              <select id="paState" formControlName="state" class="form-control">
                <option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="paCity">City</label>
              <input
                formControlName="city"
                type="text"
                class="form-control"
                id="paCity"
              />
            </div>
            <div class="form-group">
              <label for="paPincode">Pincode</label>
              <input
                formControlName="pincode"
                type="text"
                class="form-control"
                id="paPincode"
              />
            </div>
          </div>
        </div>

        <div formArrayName="skills">
          <h2 class=""><strong>Add Skills</strong></h2>
          <div
            class="row my-2 py-2"
            *ngFor="let skill of skillsArr.controls; let i = index"
          >
            <div class="col-10">
              <div class="form-group">
                <input type="text" [formControlName]="i" class="form-control" />
              </div>
            </div>
            <div class="col-2" *ngIf="i > 0">
              <button
                (click)="removeskill(i)"
                type="button"
                class="btn btn-sm btn-outline-danger"
              >
                Remove
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                [disabled]="f['skills'].invalid"
                *ngIf="skillsArr.length < 5; else maxSkillsreach"
                (click)="addSkills()"
                type="button"
                class="btn btn-sm btn-info"
              >
                Add Skill
              </button>
              <ng-template #maxSkillsreach>
                <p class="text-success">You can add maximum 5 skills only</p>
              </ng-template>
            </div>
          </div>
        </div>

        <div formArrayName="dependents">
          <h2 class="mt-3"><strong>Dependents</strong></h2>
          <div
            class="row mx-2"
            *ngFor="let skill of dependentsArr.controls; let i = index"
            [formGroupName]="i"
          >
            <h3 class="col-12">
              <strong>Dependent {{ i + 1 }}</strong>
            </h3>
            <div class="col-md col-sm-12">
              <div class="form-group">
                <input
                  formControlName="fullName"
                  placeholder="Full Name"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md col-sm-12">
              <div class="form-group">
                <input
                  formControlName="relationship"
                  placeholder="Relationship"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md col-sm-12">
              <div class="form-group">
                <input
                  formControlName="citizenship"
                  placeholder="Citizenship"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md col-sm-12">
              <div class="form-group">
                <select
                  formControlName="isTravelingWithYou"
                  placeholder="Is traveling With You?"
                  class="form-control"
                >
                  <option value="yes">Yes</option>
                  <option value="no">No</option>

                  <!-- <option [ngValue]="true">Yes</option>
                  <option [ngValue]="false">No</option> -->
                </select>
              </div>
            </div>
            <div class="col-md col-sm-12">
              <button
                *ngIf="i > 0"
                (click)="removeDependent(i)"
                type="button"
                class="btn btn-sm btn-outline-danger"
              >
                Remove
              </button>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <button
                [disabled]="f['dependents'].invalid"
                *ngIf="dependentsArr.length < 5; else maxDependents"
                (click)="addDependents()"
                type="button"
                class="btn btn-sm btn-info"
              >
                Add Dependent
              </button>
              <ng-template #maxDependents>
                <p class="text-success">
                  You can add maximum 5 Dependents only
                </p>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                id="password"
              />

              <strong
                *ngIf="
                  f['password'].touched && f['password'].hasError('required')
                "
                class="text-danger"
              >
                Password is required field.
              </strong>

              <strong
                *ngIf="f['password'].dirty && f['password'].hasError('pattern')"
                class="text-danger"
              >
                {{
                  "Password must be at least 8 characters and include an uppercase letter, lowercase letter, number, and special character (e.g., !, @, #, $)."
                }}
              </strong>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="text"
                formControlName="confirmPassword"
                class="form-control"
                id="confirmPassword"
              />

              <strong
                *ngIf="
                  f['password'].valid &&
                  f['confirmPassword'].invalid &&
                  !f['confirmPassword'].dirty
                "
                class="text-danger"
              >
                Confirm Password is required field.
              </strong>

              <strong
                *ngIf="
                  f['confirmPassword'].dirty &&
                  f['confirmPassword'].hasError('passwordMathError')
                "
                class="text-danger"
              >
                {{f['confirmPassword'].errors?.['passwordMathError']}}
              </strong>
            </div>
          </div>
        </div>
        <button class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>
